.main {
  min-height: 95vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  padding: 10px;
}

.pickerGrid {
  margin: 1%;
  min-width: 95%;
}

.retrieveMatches {
  margin: 1%;
}

.progressSection {
  color: blue;
  font-size: 1rem;
  margin: 7%;
}

.generateItinerary {
  margin: 3%;
}

.fixtureTable {
  margin: 1%;
  min-width: 95%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
}

.fixture {
  border: 1px dotted gray;
  margin: 1% 0% 1% 5%;
  width: 900px;
  padding: 15px;
  text-align: center;
  min-width: 90%;
}

.selections {
  margin: 5px;
  width: 900px;
  padding: 10px;
  display: block;
}
